body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: aliceblue;
}

#input-el {
    border: 2px solid #253ec9;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: inherit;
}

button {
    background-color: #253ec9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 130px;
    padding: 10px 12px;
    margin-bottom: 20px;
    cursor: pointer;
}

#delete-btn {
    background-color: inherit;
    color: #253ec9;
    border: 2px solid #253ec9;
    width: 130px;
    padding: 8px 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #253ec9;
}